:root {
    --primary-500: #1045ff;
    --primary-300: #217dff;
    --primary-100: #33b0ff;
    --secondary-dark: #070928;
    --secondary-light: #f8f8fa;
    --secondary-white: white;
    --placeholder-color: #9ca3af;
    --danger: #f16063;
    --success: #66cb9f;
    --warning: #ffb020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.solid-button {
    outline: none;
    border: 0.1rem solid var(--primary-500);;
    margin: 1em 0;
    padding: 1.2em 0;
    font-weight: 600;
    color: white;
    padding: 1rem;
    background-color: var(--primary-500);
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
}

.info-button {
    outline: none;
    border: 0.1rem solid var(--secondary-light);
    margin: 1em 0;
    padding: 1.2em 0;
    font-weight: 600;
    color: white;
    padding: 1rem;
    background-color: var(--secondary-light);
    border-radius: 0.5em;
    text-align: left;
    cursor: pointer;
    width: 100%;
    &_label{
        color: #27272E;
        font-weight: 800;
        margin-bottom: 0.5em;
        cursor: pointer;
        &_white{
            color: #ffffff;
        }
        &_gray{
            color: gray;
        }
    }
    &_label_text{
        color: #27272E;
        font-weight: 200;
        cursor: pointer;
        &_white{
            color: #ffffff;
        }
        &_gray{
            color: gray;
        }
    }
}
